Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, TEST_AUTOMATION, WORKFLOWS

Install acorn for webpack
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Create package.json's for each package
  .github/workflows/deploy.yml
  .github/workflows/preflight.yml
  package-lock.json
  package.json
  packages/e2e-tests/package.json
  packages/notifier/package.json
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: NOTIFIER, BROWSER_CLIENT, WORKFLOWS

Update readme
  README.md
Labels: none

Install test dependencies for e2e
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Host from webc
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Create package.json's for each package (#131)
  .github/workflows/deploy.yml
  .github/workflows/preflight.yml
  README.md
  package-lock.json
  package.json
  packages/e2e-tests/package.json
  packages/notifier/package.json
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: NOTIFIER, BROWSER_CLIENT, WORKFLOWS

Update jquery
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Change the color scheme for the top bar nav
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Change the color scheme for the top bar nav (#133)
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Update jquery (#132)
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Update package-lock
  package-lock.json
Labels: none

Update CSS
  packages/webc/css/heroImage.css
  packages/webc/css/index.css
  packages/webc/css/login.css
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Fix bootstrap
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Remove old packages
  packages/webc/package.json
Labels: BROWSER_CLIENT

Move popper to dev Deps
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Update CSS to be a little more modern (#134)
  packages/webc/css/heroImage.css
  packages/webc/css/index.css
  packages/webc/css/login.css
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Revert back to white font
  packages/webc/css/topbar.css
Labels: none

Revert back to white font (#135)
  packages/webc/css/topbar.css
Labels: none

Add responsiveness to the datatables
  README.md
  package-lock.json
  packages/notifier/package-lock.json
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/index.js
  packages/webc/src/libs/auth/register.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/main.js
Labels: NOTIFIER, BROWSER_CLIENT

Lint
  packages/webc/src/index.js
  packages/webc/src/main.js
Labels: none

Add responsiveness to the datatables (#147)
  README.md
  package-lock.json
  packages/notifier/package-lock.json
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/index.js
  packages/webc/src/libs/auth/register.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/main.js
Labels: NOTIFIER, BROWSER_CLIENT

Update styling
  packages/webc/css/heroImage.css
  packages/webc/css/index.css
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Recolour
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
Labels: BROWSER_CLIENT

Update dependencies
  packages/webc/package-lock.json
Labels: BROWSER_CLIENT

lint
  packages/webc/src/main.js
Labels: none

Fix sorting bug
  packages/webc/css/topbar.css
  packages/webc/src/libs/datatableFunctions.js
Labels: none

Add a buttom text bar
  packages/webc/css/index.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Update CSS styling to be softer and full page (#148)
  packages/webc/css/heroImage.css
  packages/webc/css/index.css
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Merge request buttons into one
  packages/webc/main.html
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

lint
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Hide top bar elements when screen is too small
  packages/webc/css/login.css
  packages/webc/css/topbar.css
Labels: none

Rename button
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Merge request buttons into one (#149)
  packages/webc/css/login.css
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Sort Old Requests by the date
  packages/webc/src/main.js
Labels: none

Update sweetalert2
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Lint
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Update sweetalert2 to v11 (#150)
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Redo the request modals
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Workign for button clicks
  packages/webc/main.html
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Revamp the request modals
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

.github/labeler.yml:

NOTIFIER:
  - packages/notifier/*

BROWSER_CLIENT:
  - packages/webc/*

TEST_AUTOMATION:
  - packages/e2e-test/*

WORKFLOWS:
  - .github/workflows/*
