Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, TEST_AUTOMATION, WORKFLOWS

.github/labeler.yml:

NOTIFIER:
  - packages/notifier/*

BROWSER_CLIENT:
  - packages/webc/*

TEST_AUTOMATION:
  - packages/e2e-test/*

WORKFLOWS:
  - .github/workflows/*

Remove onOpen
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

lint
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Update button colour
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

two things
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

remove lint exclusions
  packages/webc/src/libs/nav/topbar.js
  packages/webc/src/libs/requests/TheMovieDB.js
Labels: none

Redo the request modals (#154)
  packages/webc/main.html
  packages/webc/src/libs/nav/topbar.js
  packages/webc/src/libs/requests/TheMovieDB.js
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Cleanup CSS
  packages/webc/css/index.css
  packages/webc/css/topbar.css
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Improve fonts
  packages/webc/css/index.css
  packages/webc/css/topbar.css
  packages/webc/index.html
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/jquery/topbar.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Separate css
  packages/webc/css/requests.css
  packages/webc/main.html
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Nicer requests style
  packages/webc/css/requests.css
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Move to buttons!
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Lint
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Make bigger!
  packages/webc/css/requests.css
Labels: none

Make some finer touches to the UI (#156)
  packages/webc/css/index.css
  packages/webc/css/requests.css
  packages/webc/css/topbar.css
  packages/webc/index.html
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/jquery/topbar.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Make size adaptive to the screen
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Make size adaptive to the screen (#157)
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Remove logo when screen is too small
  packages/webc/css/topbar.css
Labels: none

Logo for small screen
  packages/webc/css/topbar.css
  packages/webc/main.html
Labels: BROWSER_CLIENT

Inherit background colour
  packages/webc/css/topbar.css
Labels: none

Toolbar css fixes
  packages/webc/css/topbar.css
Labels: none

Scalable login
  packages/webc/index.html
Labels: BROWSER_CLIENT

Fine tune right top bar css
  packages/webc/css/topbar.css
Labels: none

Improve top bar and login css
  packages/webc/css/login.css
  packages/webc/css/topbar.css
  packages/webc/index.html
Labels: BROWSER_CLIENT

More small screen updates and UX
  packages/webc/css/index.css
  packages/webc/css/topbar.css
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Cleanup old junk
  packages/webc/images/avatar_img.png
  packages/webc/images/space_banner.jpg
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
Labels: BROWSER_CLIENT

Add an icon
  packages/webc/images/tab-icon.ico
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/nav/topbar.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Paginate while populating sub tables
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: none

Rename function
  packages/webc/src/libs/datatableFunctions.js
Labels: none

fix comment
  packages/webc/src/libs/datatableFunctions.js
Labels: none

Paginate while populating sub tables (#158)
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: none

Fix set subbed icon
  packages/webc/src/libs/datatableFunctions.js
Labels: none

Rework the LanFlix Notifier
  1q
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/Media.js
  packages/notifier/libs/Media.test.js
  packages/notifier/libs/createEmailBody.js
  packages/notifier/libs/email/Email.js
  packages/notifier/libs/email/emailTemplates.js
  packages/notifier/libs/email/templates/alert.html
  packages/notifier/libs/posters/TMDB.js
  packages/notifier/libs/posters/TVMaze.js
  packages/notifier/notifier-script.js
  packages/notifier/package-lock.json
  packages/notifier/vpn-notify.js
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr/new_media.sh
Labels: NOTIFIER

Fix `to`
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER

Fix show link
  packages/notifier/libs/posters/TMDB.js
Labels: none

remove file
  1q
Labels: none

Update
  README.md
  packages/notifier/disable-show.js
  packages/notifier/notifier-script.js
  packages/notifier/scripts/disable_show.js
  packages/notifier/scripts/disable_show.sh
  packages/notifier/scripts/notify.sh
  packages/notifier/scripts/vpn_monitor.sh
  packages/notifier/vpn-notify.js
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr/disable_show.sh
  scripts/client_scripts/sonarr/new_media.sh
  scripts/client_scripts/transmission_script.sh
  services/lanflix-monitor.service
Labels: NOTIFIER

Add test handling
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Queue emails again
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Fix footer
  packages/notifier/libs/email/emailTemplates.js
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Fix labeler
  .github/workflows/labeler.yml
Labels: WORKFLOWS
