Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, TEST_AUTOMATION, WORKFLOWS

.github/labeler.yml:

NOTIFIER:
  - packages/notifier/*

BROWSER_CLIENT:
  - packages/webc/*

TEST_AUTOMATION:
  - packages/e2e-test/*

WORKFLOWS:
  - .github/workflows/*

Disable Show on Sonarr Delete Series
  packages/notifier/libs/FirebaseHelper.js
  packages/notifier/scripts/disable_show.js
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr/disable_show.sh
  scripts/client_scripts/sonarr/new_media.sh
  scripts/client_scripts/sonarr_script.sh
  scripts/client_scripts/transmission_script.sh
  scripts/vpn_monitor.sh
Labels: none

Hide disabled from data table
  packages/webc/src/libs/datatableFunctions.js
Labels: none

Shorthand fixes
  packages/notifier/libs/FirebaseHelper.js
  packages/webc/src/libs/datatableFunctions.js
Labels: none

Add check for show disabled before sending email
  packages/notifier/libs/FirebaseHelper.js
  packages/notifier/notifier-script.js
  scripts/vpn_monitor.sh
Labels: NOTIFIER

Issue #97: Disable Show on Sonarr Delete Series (#121)
  packages/notifier/libs/FirebaseHelper.js
  packages/notifier/notifier-script.js
  packages/notifier/scripts/disable_show.js
  packages/webc/src/libs/datatableFunctions.js
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr/disable_show.sh
  scripts/client_scripts/sonarr/new_media.sh
  scripts/client_scripts/sonarr_script.sh
  scripts/client_scripts/transmission_script.sh
  scripts/vpn_monitor.sh
Labels: NOTIFIER

Add shebang to disable show script
  scripts/client_scripts/sonarr/disable_show.sh
Labels: none

Update lanflix monitor service path
  services/lanflix-monitor.service
Labels: none

LAN-1: Create a Requests Page
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Update the monitor script
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/FirebaseHelper.js
  packages/webc/src/libs/requests/mediaRequests.js
Labels: NOTIFIER

Fix lint
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/FirebaseHelper.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
Labels: NOTIFIER

LAN-1: Create a Requests Page (#124)
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/FirebaseHelper.js
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
Labels: NOTIFIER, BROWSER_CLIENT

Revert
  package-lock.json
Labels: none

Revert (#126)
  package-lock.json
Labels: none

LAN-6: Update the requests table on changed
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/requests/listener.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

LAN-6: Update the requests table on changed (#127)
  packages/webc/main.html
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/requests/listener.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Update nodemailer
  package-lock.json
  package.json
Labels: none

Update nodemailer (#128)
  package-lock.json
  package.json
Labels: none

Sort requests by timestamp
  packages/webc/src/main.js
Labels: none

Sort requests by timestamp (#129)
  packages/webc/src/main.js
Labels: none

Data tables are working!
  .eslintignore
  .eslintrc.js
  .firebaserc
  .github/workflows/deploy.yml
  .gitignore
  firebase.json
  package-lock.json
  package.json
  packages/webc/index.html
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/index.js
  packages/webc/src/libs/auth/login.js
  packages/webc/src/libs/auth/register.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/libs/jquery/navigation.js
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/nav/topbar.js
  packages/webc/src/main.js
  packages/webc/webpack.config.js
  public/index.html
Labels: BROWSER_CLIENT, WORKFLOWS

getAllUsers working
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/libs/auth/login.js
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/firebaseFunctions.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/libs/jquery/navigation.js
  packages/webc/src/libs/jquery/showsTab.js
  packages/webc/src/libs/requests/TheMovieDB.js
  packages/webc/src/libs/requests/listener.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
  packages/webc/webpack.config.js
Labels: BROWSER_CLIENT

Show table filling
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/firebaseFunctions.js
  packages/webc/src/main.js
Labels: none

Log in and out working
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/index.js
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/libs/requests/listener.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
Labels: BROWSER_CLIENT

Movie table loading
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/main.js
Labels: none

Sweet Alert 2 working
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/libs/requests/mediaRequests.js
Labels: BROWSER_CLIENT

Requests are working
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Subscriptions working
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/firebaseFunctions.js
  packages/webc/src/libs/jquery/moviesTab.js
  packages/webc/src/libs/jquery/showsTab.js
Labels: none

Enabled no-undefs rule
  .eslintrc.js
  packages/webc/src/index.js
  packages/webc/src/main.js
Labels: none

enable new-cap
  .eslintrc.js
Labels: none

commonjs
  .eslintrc.js
Labels: none

Fix initialize user
  .github/workflows/preflight.yml
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/firebaseFunctions.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/main.js
Labels: WORKFLOWS

Hash all package locks
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Fix preflight caching
  .github/workflows/deploy.yml
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Fix git url
  package.json
Labels: none

Update package-lock
  package-lock.json
Labels: none

Use github.sha instead
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Move codeceptjs and playright back to root
  package-lock.json
  package.json
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Remove extra index
  public/index.html
Labels: none

LAN-10: Convert the webclient to use Webpack (#130)
  .eslintignore
  .eslintrc.js
  .firebaserc
  .github/workflows/deploy.yml
  .github/workflows/preflight.yml
  .gitignore
  firebase.json
  package-lock.json
  package.json
  packages/webc/index.html
  packages/webc/main.html
  packages/webc/package-lock.json
  packages/webc/package.json
  packages/webc/src/index.js
  packages/webc/src/libs/auth/login.js
  packages/webc/src/libs/auth/register.js
  packages/webc/src/libs/datatableFunctions.js
  packages/webc/src/libs/firebaseFunctions.js
  packages/webc/src/libs/jquery/loginPage.js
  packages/webc/src/libs/jquery/moviesTab.js
  packages/webc/src/libs/jquery/navigation.js
  packages/webc/src/libs/jquery/requests.js
  packages/webc/src/libs/jquery/showsTab.js
  packages/webc/src/libs/nav/topbar.js
  packages/webc/src/libs/requests/TheMovieDB.js
  packages/webc/src/libs/requests/listener.js
  packages/webc/src/libs/requests/mediaRequests.js
  packages/webc/src/main.js
  packages/webc/webpack.config.js
Labels: BROWSER_CLIENT, WORKFLOWS

Fix webpack issue on deploy
  .github/workflows/deploy.yml
Labels: WORKFLOWS
