Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, WORKFLOWS

Update deploy workflow paths
  .github/workflows/firebase_deploy.yml
Labels: WORKFLOWS

Override enter on login page
  src/browser-client/src/libs/auth/jquery.js
Labels: none

Override enter on login page (#43)
  src/browser-client/src/libs/auth/jquery.js
Labels: none

Add radarr and sonarr scripts
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr_script.sh
  scripts/client_scripts/transmission_script.sh
  scripts/request_monitor.sh
Labels: none

Make some minor changes all around
  package.json
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/transmission_script.sh
  scripts/request_monitor.sh
  scripts/vpn_monitor.sh
  src/notifier/monitor-requests.js
Labels: NOTIFIER

Update radarr dir
  scripts/client_scripts/radarr_script.sh
Labels: none

Update sonarr script to have decimals after
  scripts/client_scripts/sonarr_script.sh
Labels: none

Add radarr and sonarr scripts and resolve the others (#44)
  package.json
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr_script.sh
  scripts/client_scripts/transmission_script.sh
  scripts/request_monitor.sh
  scripts/vpn_monitor.sh
  src/notifier/monitor-requests.js
Labels: NOTIFIER

Update readme for node
  README.md
Labels: none

Update readme for node (#45)
  README.md
Labels: none

Edit sonarr scripts to force seasons and episode formats
  scripts/client_scripts/sonarr_script.sh
Labels: none

Update sonarr_script.sh
  scripts/client_scripts/sonarr_script.sh
Labels: none

Edit sonarr script to force seasons and episode formats (#46)
  scripts/client_scripts/sonarr_script.sh
Labels: none

Switch yes/no to logo's
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/moviesPage.js
  src/browser-client/src/libs/pages/shows/datatables.js
  src/browser-client/src/libs/pages/users/userPage.js
Labels: BROWSER_CLIENT

Switch yes/no to logo's (#48)
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/moviesPage.js
  src/browser-client/src/libs/pages/shows/datatables.js
  src/browser-client/src/libs/pages/users/userPage.js
Labels: BROWSER_CLIENT

Add logo to movies page too
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/moviesPage.js
Labels: BROWSER_CLIENT

Add logo to movies page too (#49)
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/moviesPage.js
Labels: BROWSER_CLIENT

Nav on side nav logo clicks
  src/browser-client/index.html
Labels: BROWSER_CLIENT

Nav on side nav logo clicks (#50)
  src/browser-client/index.html
Labels: BROWSER_CLIENT

Revert "Nav on side nav logo clicks (#50)"
  src/browser-client/index.html
Labels: BROWSER_CLIENT

Transition to a banner style page
  src/browser-client/css/banner.css
  src/browser-client/css/heroImage.css
  src/browser-client/css/sidenav.css
  src/browser-client/css/switches.css
  src/browser-client/css/topbar.css
  src/browser-client/images/plex.jpg
  src/browser-client/index.html
  src/browser-client/src/index.js
  src/browser-client/src/libs/nav/jquery.js
  src/browser-client/src/libs/nav/sidenav.js
  src/browser-client/src/libs/nav/topbar.js
  src/browser-client/src/libs/pages/movies/moviesPage.js
  src/browser-client/src/libs/pages/shows/jquery.js
Labels: BROWSER_CLIENT

Fix overflow-x scrolling
  src/browser-client/css/heroImage.css
  src/browser-client/index.html
Labels: BROWSER_CLIENT

Transition to a banner style page (#52)
  src/browser-client/css/banner.css
  src/browser-client/css/heroImage.css
  src/browser-client/css/sidenav.css
  src/browser-client/css/switches.css
  src/browser-client/css/topbar.css
  src/browser-client/images/plex.jpg
  src/browser-client/index.html
  src/browser-client/src/index.js
  src/browser-client/src/libs/nav/jquery.js
  src/browser-client/src/libs/nav/sidenav.js
  src/browser-client/src/libs/nav/topbar.js
  src/browser-client/src/libs/pages/movies/moviesPage.js
  src/browser-client/src/libs/pages/shows/jquery.js
Labels: BROWSER_CLIENT

Fix some naming issues
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/datatables.js
  src/notifier/libs/createEmailBody.test.js
Labels: BROWSER_CLIENT

Remove old banner non-sense, create a new one.
  src/browser-client/css/banner.css
  src/browser-client/css/heroImage.css
  src/browser-client/images/logo.png
  src/browser-client/images/plex.jpg
  src/browser-client/images/space_banner.jpg
Labels: none

Add new snapshot
  src/notifier/libs/__snapshots__/createEmailBody.test.js.snap
Labels: none

New banner time! (#59)
  src/browser-client/css/banner.css
  src/browser-client/css/heroImage.css
  src/browser-client/images/logo.png
  src/browser-client/images/plex.jpg
  src/browser-client/images/space_banner.jpg
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/datatables.js
  src/notifier/libs/__snapshots__/createEmailBody.test.js.snap
  src/notifier/libs/createEmailBody.test.js
Labels: BROWSER_CLIENT

Fix unsubscribe
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/datatables.js
  src/browser-client/src/libs/pages/movies/firebase.js
  src/browser-client/src/libs/pages/movies/jquery.js
  src/browser-client/src/libs/pages/shows/firebase.js
  src/browser-client/src/libs/pages/shows/jquery.js
  src/browser-client/src/libs/requests/mediaRequests.js
  src/notifier/libs/createEmailBody.js
Labels: BROWSER_CLIENT

Simplify subbing and unsubbing
  src/browser-client/src/libs/pages/movies/firebase.js
  src/browser-client/src/libs/pages/shows/firebase.js
Labels: none

Update snapshot
  src/notifier/libs/__snapshots__/createEmailBody.test.js.snap
Labels: none

Allow users to unsubscribe from movies (#60)
  src/browser-client/index.html
  src/browser-client/src/libs/pages/movies/datatables.js
  src/browser-client/src/libs/pages/movies/firebase.js
  src/browser-client/src/libs/pages/movies/jquery.js
  src/browser-client/src/libs/pages/shows/firebase.js
  src/browser-client/src/libs/pages/shows/jquery.js
  src/browser-client/src/libs/requests/mediaRequests.js
  src/notifier/libs/__snapshots__/createEmailBody.test.js.snap
  src/notifier/libs/createEmailBody.js
Labels: BROWSER_CLIENT

.github/labeler.yml:

NOTIFIER:
  - src/notifier/*

BROWSER_CLIENT:
  - src/browser-client/*

WORKFLOWS:
  - .github/workflows/*
