Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, TEST_AUTOMATION, WORKFLOWS

Bump version: ["notifier"]
  packages/notifier/package-lock.json
  packages/notifier/package.json
Labels: NOTIFIER

Show close button on requests dialog
  packages/webc/src/libs/requests/mediaRequests.js
Labels: none

Bump version: ["webc"]
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: BROWSER_CLIENT

Only deploy on push of tag
  .github/workflows/deploy.yml
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Skip push when nothing changed
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Add script to install the notifier service
  README.md
  packages/notifier/install.sh
  packages/notifier/services/lanflix-monitor.service
Labels: NOTIFIER

Bump version: ["notifier"]
  packages/notifier/package-lock.json
  packages/notifier/package.json
Labels: NOTIFIER

Split out configs and readmes into their own configs
  .gitignore
  README.md
  packages/notifier/README.md
  packages/notifier/config/template_sender.json
  packages/notifier/disable-show.js
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/email/getEmailContent.js
  packages/notifier/libs/email/sendEmail.js
  packages/notifier/libs/getMediaInfo.js
  packages/notifier/notifier-script.js
  packages/notifier/vpn-notify.js
  packages/webc/README.md
Labels: NOTIFIER, BROWSER_CLIENT

Fix import
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Fix firebase
  packages/notifier/libs/email/getEmailContent.js
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Split out configs and readmes into their own configs (#172)
  .gitignore
  README.md
  packages/notifier/README.md
  packages/notifier/config/template_sender.json
  packages/notifier/disable-show.js
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/email/getEmailContent.js
  packages/notifier/libs/email/sendEmail.js
  packages/notifier/libs/getMediaInfo.js
  packages/notifier/notifier-script.js
  packages/notifier/vpn-notify.js
  packages/webc/README.md
Labels: NOTIFIER, BROWSER_CLIENT

Bump version: ["notifier","webc"]
  packages/notifier/package-lock.json
  packages/notifier/package.json
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: NOTIFIER, BROWSER_CLIENT

.github/labeler.yml:

NOTIFIER:
  - packages/notifier/*

BROWSER_CLIENT:
  - packages/webc/*

TEST_AUTOMATION:
  - packages/e2e-test/*

WORKFLOWS:
  - .github/workflows/*
