Repository Lando1n/LanFlix, changes with the labels that .github/labeler.yml gives for each.
All labels: NOTIFIER, BROWSER_CLIENT, TEST_AUTOMATION, WORKFLOWS

Fix lint
  packages/notifier/libs/email/emailTemplates.js
  packages/notifier/libs/posters/TMDB.js
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Pass no tests
  package.json
Labels: none

Update actions
  .github/workflows/deploy.yml
  .github/workflows/preflight.yml
Labels: WORKFLOWS

Fix test
  packages/notifier/notifier-script.js
  packages/notifier/scripts/notify.sh
Labels: NOTIFIER

Chmod 777
  packages/notifier/scripts/disable_show.sh
  packages/notifier/scripts/notify.sh
  packages/notifier/scripts/vpn_monitor.sh
Labels: none

Add logging
  .gitignore
  packages/notifier/scripts/notify.sh
Labels: none

Fix test 2
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Fix test 3!
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Add ids to test
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Try a different id
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Fix lint
  packages/notifier/notifier-script.js
Labels: NOTIFIER

Rework the LanFlix Notifier for email templates (#161)
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/preflight.yml
  .gitignore
  README.md
  package.json
  packages/notifier/disable-show.js
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/Media.js
  packages/notifier/libs/Media.test.js
  packages/notifier/libs/createEmailBody.js
  packages/notifier/libs/email/Email.js
  packages/notifier/libs/email/emailTemplates.js
  packages/notifier/libs/email/templates/alert.html
  packages/notifier/libs/posters/TMDB.js
  packages/notifier/libs/posters/TVMaze.js
  packages/notifier/notifier-script.js
  packages/notifier/package-lock.json
  packages/notifier/scripts/disable_show.js
  packages/notifier/scripts/disable_show.sh
  packages/notifier/scripts/notify.sh
  packages/notifier/scripts/vpn_monitor.sh
  packages/notifier/vpn-notify.js
  scripts/client_scripts/deluge_script.sh
  scripts/client_scripts/radarr_script.sh
  scripts/client_scripts/sonarr/disable_show.sh
  scripts/client_scripts/sonarr/new_media.sh
  scripts/client_scripts/transmission_script.sh
  services/lanflix-monitor.service
Labels: NOTIFIER, WORKFLOWS

Simply the Email class to a single function
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/email/Email.js
  packages/notifier/libs/email/sendEmail.js
  packages/notifier/package-lock.json
  packages/notifier/package.json
  packages/notifier/vpn-notify.js
Labels: NOTIFIER

Update template
  config/template_sender.json
  packages/notifier/libs/email/sendEmail.js
Labels: none

lint
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/email/sendEmail.js
  packages/notifier/vpn-notify.js
Labels: NOTIFIER

Fix spacing
  config/template_sender.json
Labels: none

Fix destructuring
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER

#163 Simply the Email class to a single function (#162)
  config/template_sender.json
  packages/notifier/lanflix-monitor.js
  packages/notifier/libs/email/Email.js
  packages/notifier/libs/email/sendEmail.js
  packages/notifier/package-lock.json
  packages/notifier/package.json
  packages/notifier/vpn-notify.js
Labels: NOTIFIER

Issue #165: Increase package.json versions on every push
  .github/workflows/version_bumper.yml
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER, WORKFLOWS

Fix indent
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Move permission scope
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Wow
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Add loggin
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER

fix lint
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER

'
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Issue #165: Increase package.json versions on every push (#168)
  .github/workflows/version_bumper.yml
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER, WORKFLOWS

Issue #166: Move services to notifier package
  .github/workflows/version_bumper.yml
  README.md
  packages/notifier/services/lanflix-monitor.service
Labels: WORKFLOWS

Use specific version of bumper
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Add to patch filter
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Try force push
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Do it manually
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Add and commit and push and tag
  .github/workflows/version_bumper.yml
  packages/notifier/package-lock.json
  packages/notifier/package.json
Labels: NOTIFIER, WORKFLOWS

Git config
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Force push
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Use PAT for checkout
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Bump version: ["notifier","webc"]
  packages/notifier/package-lock.json
  packages/notifier/package.json
  packages/webc/package-lock.json
  packages/webc/package.json
Labels: NOTIFIER, BROWSER_CLIENT

Test
  .github/workflows/test.yml
Labels: WORKFLOWS

Stop the looping version bump
  .github/workflows/version_bumper.yml
Labels: WORKFLOWS

Bump version: ["notifier"]
  packages/notifier/package-lock.json
  packages/notifier/package.json
Labels: NOTIFIER

Don't send email when recipients is empty
  packages/notifier/lanflix-monitor.js
Labels: NOTIFIER

.github/labeler.yml:

NOTIFIER:
  - packages/notifier/*

BROWSER_CLIENT:
  - packages/webc/*

TEST_AUTOMATION:
  - packages/e2e-test/*

WORKFLOWS:
  - .github/workflows/*
